{{> header}}

<section id="viewCatalog" class="background-img">
    {{#if isLoggedIn}}
            
            <div class="added-destinations">
                {{#each destinations}}
                <a href="" class="added-destination">
                    <img src="{{this.imgUrl}}"
                        alt="" class="picture-added-destination">
                    <h3>{{this.destination}}</h3>
                    <span>to {{this.city}} </span><span>{{this.departureDate}}</span>
                </a>
                {{/each}}
            </div>
            
             {{else}}
            <div class="guest">
                No destinations possible! Please sign in...
            </div>
            {{/if}}
        </section>

        {{> footer}}