{{> header }}

<h1>Edit Offer</h1>
<p class="message"></p>
<form action="#/edit/{{offer.id}}" method="POST">
    <div>
        <input type="text" placeholder="Name..." name="productName" value="{{ offer.productName }}">
    </div>
    <div>
        <input type="text" placeholder="Price..." name="price" value="{{offer.price}}">
    </div>
    <div>
        <input type="text" placeholder="Image url..." value="{{offer.imageUrl}}" name="imageUrl" >
    </div>
    <div>
        <textarea placeholder="Give us some description about this offer..." name="description">{{offer.description}}</textarea>
    </div>
    <div>
        <input type="text" placeholder="Brand..." name="brand" value="{{offer.brand}}">
    </div>
    <div>
        <button>Edit</button>
    </div>
</form>

{{> footer }}